<h1>Get your new footwear here!</h1>
<% @products.each do |product| %>
  <h2>  Product: <%=product.name %><h2>
  <h3>  Price: <%=product.price %><h3>
  <h4>  Description: <%=product.description %><h4>
  <p>  Supplier: <%=product.supplier.name %><p>
    <a href="/products/<%= product.id %>">More info</a>
<%end %> 
